@inherits umbraco.MacroEngines.DynamicNodeContext

@{ var afd = Model.NodeById("1076"); }

<div id="afdelinger">

    @foreach (var page in afd.Children.Where("Visible"))
    {
        <div class="afdelingsWrapper">
            <div>
                <div class="afdelingsBilled">
                    <a href="@page.url">
                        <img src="@page.afdelingsBilled" alt="@page.afdelingsNavn" />
                    </a>
                </div>
                @{ var output = (umbraco.library.ReplaceLineBreaks(@page.afdelingsNavn)); }
                <h2>@Html.Raw(output)  @*@page.afdelingsNavn*@</h2>
                <div class="afdelingsBeskrivelse">
                    <p>@page.kortBeskrivelse</p>
                </div>
            </div>
            <div>
                <a class="linkKnap" href="@page.url">Læs mere </a>
            </div>
            

            
        </div>
    }

</div>